<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @names.each do |item| %>
    <p><%= item.name + ", " + item.location %></p>
    <% end %>

  </body>
</html>
