<div class="well">

  <% @examples.each do |example| %>
  <p><%= "Game Name: " + example.name + "</br>" + "Game Description: "+ example.description %></p>
  <% end %>
</div>

<form action="/examples" method="post">
  <button type="submit" class="btn user_button">Sort Alphabetically</button>
</form>
<br>
<form action="/">
  <button type="submit" class="btn user_button">Back to Home</button>
</form>
