<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Places</title>

  </head>
  <body>
    <div class="jumbotron">
      <h2>Places I've been</h2>
    </div>
    <p>testing</p>
  </body>
</html>
