<div class="well">
  <% @places.each do |place| %>
  <p><%= "- " + place.name + ", " + place.location %></p>
  <% end %>
</div>

<form action="/places" method="post">
  <button type="submit" class="btn user_button">Sort Alphabetically</button>
</form>
<br>
<form action="/">
  <button type="submit" class="btn user_button">Back to Home</button>
</form>
