<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @places.each do |place| %>
    <p><%= place.name + ", " + place.location %></p>
    <% end %>

    <form action="/places" method="post">
      <button type="submit" class="btn user_button">Sort Alphabetically</button>
    </form>
  </body>
</html>
