<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @places.each do |place| %>
    <p><%= place.name + ", " + place.location %></p>
    <% end %>

    
  </body>
</html>
